.description
  display: none;

p
  margin-block-start: 1em;
  margin-block-end :1em;

.token
  .content:not(.custom)
    > *:first-child
      margin-top: 0;
      padding-top: 0;
    margin: 0;
  span.content
    padding: 0;