<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stest" parallel="tests" thread-count="4">

  <listeners>
    <listener class-name="stest.tron.wallet.common.client.utils.RetryListener"/>
  </listeners>

  <test name="account,transfer">
    <classes>
      <class name="stest.tron.wallet.common.deposit.DepositTrx001"></class>
      <class name="stest.tron.wallet.common.deposit.WithdrawTrx001"></class>
    </classes>
  </test>

</suite>
